%h1 Listing tags

%ul
  - @tags.each do |tag|
    %li
      %td= link_to tag.tag, tag
      - if can? :edit, tag
        %td= link_to (image_tag 'pencil.png'), edit_tag_path(tag)
      - if can? :delete, tag
        %td= link_to (image_tag 'cross.png'), tag, method: :delete, data: { confirm: 'Are you sure?' }

%div
  - if (can? :create, @tags)
    = link_to 'New Tag', new_tag_path
