= render 'posts/posts', :collection => @tag.posts.accessible_by(current_ability, :read)

.tag_control
  - if can? :edit, @tag
    %b Tag:
    = @tag.tag
    = link_to (image_tag 'pencil.png'), edit_tag_path(@tag)
  