#nav_bar
  = tabs_tag open_tabs: {class: "tags"} do |tab|
    = tab.all 'all', root_path, class: "tag"
    - Tag.accessible_by(current_ability, :read).uniq.each do |tag|
      = tab.send tag.tag, tag.tag.humanize, tag, class: "tag"

.posts
  = (render collection) || "<div class='post empty'><div class='empty'>No files here</div></div>".html_safe

%br
-if can? :create, :post
  %form{action: new_post_path}
    .toolbox
      %button.btn New Post

.toolbox
  &nbsp;

-if can? :manage, :tags
  %form{action: tags_path}
    .toolbox
      %button.btn Manage tags
