#nav_bar
  = tabs_tag open_tabs: {class: "tags"} do |tab|
    = tab.all 'all', root_path, class: "tag"
    - Tag.all.each do |tag|
      = tab.send tag.tag, tag.tag.humanize, tag, class: "tag"

.posts
  = (render collection) || "<tr><td>You have no files</td></tr>".html_safe

%br
-if can? :create, :post
  %form{action: new_post_path}
    .toolbox
      %button.btn New Post

.toolbox
  &nbsp;

-if can? :manage, :tags
  %form{action: tags_path}
    .toolbox
      %button.btn Manage tags
