%h2 Listing posts
%table
  - @posts.each do |post|
    %tr
      /%td= post.text
      %td
        %a{href: (post_path post)}= truncate((strip_tags mkd.render post.text), :length => 60, :separator => ' ')


      %td= link_to 'Edit', edit_post_path(post)
      %td= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }
%br
%form{action: new_post_path}
  %button New Post
