/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_reset
 *= require codemirror
 *= require_self
 * require_tree .
 */



//Gridsystem


.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}


body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}

a {
  color: #0088cc;
  text-decoration: none;
}

a:hover {
  color: #005580;
  text-decoration: underline;
}

.row {
  margin-left: -20px;
  *zoom: 1;
}

.row:before,
.row:after {
  display: table;
  line-height: 0;
  content: "";
}

.row:after {
  clear: both;
}

[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 20px;
}


.container,
{
  width: 940px;
}


.span12 {
  width: 940px;
}

.span11 {
  width: 860px;
}

.span10 {
  width: 780px;
}

.span9 {
  width: 700px;
}

.span8 {
  width: 620px;
}

.span7 {
  width: 540px;
}

.span6 {
  width: 460px;
}

.span5 {
  width: 380px;
}

.span4 {
  width: 300px;
}

.span3 {
  width: 220px;
}

.span2 {
  width: 140px;
}

.span1 {
  width: 60px;
}

.offset12 {
  margin-left: 980px;
}

.offset11 {
  margin-left: 900px;
}

.offset10 {
  margin-left: 820px;
}

.offset9 {
  margin-left: 740px;
}

.offset8 {
  margin-left: 660px;
}

.offset7 {
  margin-left: 580px;
}

.offset6 {
  margin-left: 500px;
}

.offset5 {
  margin-left: 420px;
}

.offset4 {
  margin-left: 340px;
}

.offset3 {
  margin-left: 260px;
}

.offset2 {
  margin-left: 180px;
}

.offset1 {
  margin-left: 100px;
}


[class*="span"].hide,
.row-fluid [class*="span"].hide {
  display: none;
}

[class*="span"].pull-right,
.row-fluid [class*="span"].pull-right {
  float: right;
}

.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}

.container:before,
.container:after {
  display: table;
  line-height: 0;
  content: "";
}

.container:after {
  clear: both;
}


p {
  margin: 0 0 10px;
}

//Styles


body{
	font-family:Sans;
}
 table{
 	th{
	 	background:#EEE;
 	}
 	th, td{
	 	padding: 1ex 1em;
	 	border: 1px solid #DDD;
 	}

 	th:empty{
 		display:none;
 	}
 }

pre{
	margin:1ex 1em;
	background:#EEE;
	display:block;

}













body{
  color:#444;
  //font-family:Georgia, Palatino, 'Palatino Linotype', Times,
  //            'Times New Roman', serif,
  //            "Hiragino Sans GB", "STXihei", "微软雅黑";
  //font-size:12px;
  //line-height:1.5em;
  width: 45em;
  margin: 10px auto;
  background-image: url('noise.png');
}

//a{ color: #0645ad; text-decoration:none;}
//a:visited{ color: #0b0080; }
//a:hover{ color: #06e; }
//a:active{ color:#faa700; }
//a:focus{ outline: thin dotted; }
//a:hover, a:active{ outline: 0; }

span.backtick {
  border:1px solid #EAEAEA;
  border-radius:3px;
  background:#F8F8F8;
  padding:0 3px 0 3px;
}

::-moz-selection{background:rgba(255,255,0,0.3);color:#000}
::selection{background:rgba(255,255,0,0.3);color:#000}

a::-moz-selection{background:rgba(255,255,0,0.3);color:#0645ad}
a::selection{background:rgba(255,255,0,0.3);color:#0645ad}

p{
margin:1em 0;
}

img{
}

h1,h2,h3,h4,h5,h6{
font-weight:normal;
color:#111;
line-height:1em;
}
h4,h5,h6{ font-weight: bold; }
h1{ font-size:2.5em; }
h2{ font-size:2em; border-bottom:1px solid silver; padding-bottom: 5px; }
h3{ font-size:1.5em; }
h4{ font-size:1.2em; }
h5{ font-size:1em; }
h6{ font-size:0.9em; }

blockquote{
color:#666666;
margin:0;
padding-left: 3em;
border-left: 0.5em #EEE solid;
}
hr { display: block; height: 2px; border: 0; border-top: 1px solid #aaa;border-bottom: 1px solid #eee; margin: 1em 0; padding: 0; }


pre , code, kbd, samp {
  color: #000;
  font-family: monospace;
  font-size: 0.88em;
  border-radius:3px;
  background-color: #F8F8F8;
  border: 1px solid #CCC;
}
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 5px;}
pre code { border: 0px !important; }
code { padding: 0 3px 0 3px; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 2em; }
li p:last-child { margin:0 }
dd { margin: 0 0 0 2em; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

@media only screen and (min-width: 480px) {
//body{font-size:14px;}
}

@media only screen and (min-width: 768px) {
//body{font-size:16px;}
}



#post{
  font-family:Georgia, Palatino, 'Palatino Linotype', Times,
             'Times New Roman', serif,
             "Hiragino Sans GB", "STXihei", "微软雅黑";
  line-height:1.5em;
}








$blue: #3bbfce;

$red: #ce3f3b;

p.notice{
  padding:1ex 1em;
  background: $blue;
  border:1px solid darken($blue, 9%);
  color: white;
}

p.alert:empty{display:none;}
p.notice:empty{display:none;}

p.alert{
  padding:1ex 1em;
  background: $red;
  border:1px solid darken($red, 9%);
  color: white;
}

#user_nav{
  .gravatar{position:absolute;top:-5px;left:-30px;}
  bottom:5px;
  right:0px;
  position:absolute;

}
/*

.btn, .sign{
  line-height:26px;
  display:inline-block;
  padding:0 1em;
  margin:0 .3em;

  border-radius: 4px;
  border: 1px solid #DDD;

  box-shadow:1px 2px 3px -2px darken(#FFF, 15%);

  background-image: linear-gradient(bottom, rgb(231,231,240) 29%, rgb(255,255,255) 65%);
  background-image: -o-linear-gradient(bottom, rgb(231,231,240) 29%, rgb(255,255,255) 65%);
  background-image: -moz-linear-gradient(bottom, rgb(231,231,240) 29%, rgb(255,255,255) 65%);
  background-image: -webkit-linear-gradient(bottom, rgb(231,231,240) 29%, rgb(255,255,255) 65%);
  background-image: -ms-linear-gradient(bottom, rgb(231,231,240) 29%, rgb(255,255,255) 65%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.29, rgb(231,231,240)),
    color-stop(0.65, rgb(255,255,255))
  );

  &:hover{
    text-decoration:none;
  }
}

 */

.sign, .btn{
    border:1px solid #DDD;
    padding: 1ex 1em;
    color: #333333;
    font-size:1.2em;
    display:inline-block;


  background: darken(#FEFEFF, 2%);
  color: #333;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  &:hover {
    text-decoration:none;
    background: darken(#FEFEFF, 4%);
    color: #222;
    cursor: pointer; }
  &:active {
    background: darken(#FEFEFF, 6%);
    color: #000; }


}

.sign{
    padding: 0 1em;
    line-height:26px;
    top:2px;
    position:relative;
}


.clearfix{
  clear:both;
}

.posts{
  width: 100%;
  background: #FFF;
  .gravatar{float:left; margin: 0 .5em 0 -.5em;}
  .post{
    position:relative;
    padding: 1ex 1em;
    border:1px solid darken(#FFF, 10%);
    margin-bottom:-1px;
    min-height:5ex;
    .empty{
      text-align:center;
      font-size:150%;
      padding:1ex 1em;
      background: $blue;
      border:1px solid darken($blue, 9%);
      color:#FFF;
      margin:1ex;
      opacity:.5;
    }
  }

  .post:nth-child(2n){
    background: darken(#FEFEFF, 2%);
  }
}

/*
.btn{
  padding:1.1ex 1em .9ex;
  background: lighten($blue, 12%);
  border:1px solid $blue;
  color: white;
  display:inline-block;
  margin:1ex 0;
  text-align:center;
}

.btn:hover{
  text-decoration:none;
  color:#FFF;
  padding-top:1.2ex;
  padding-bottom:.8ex;
}
.btn:active{
  background: lighten($blue, 15%);
} */

/*
.btn{
  background: #e3e3e3;
  background: darken(#FEFEFF, 2%);
  border: 1px solid #bbb;
  border:1px solid darken(#FFF, 10%);
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
  box-shadow: inset 0 0 1px 1px #f6f6f6;
  color: #333;
  font: bold 12px/1 "helvetica neue", helvetica, arial, sans-serif;
  padding: 8px 0 9px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  width: 150px;
  &:hover {
    background: #d9d9d9;
    background: darken(#FEFEFF, 4%);
    -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
    box-shadow: inset 0 0 1px 1px #eaeaea;
    color: #222;
    cursor: pointer; }
  &:active {
    background: #d0d0d0;
    background: darken(#FEFEFF, 6%);
    -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
    box-shadow: inset 0 0 1px 1px #e3e3e3;
    color: #000; }
}
*/

textarea{
  width: 100%;
  max-width: 100%;
  border-color:#DDD;
}

.page, .devise{
  background:#FFF;
  padding: 1.5ex 1em 2ex 1em;
  margin:2ex 0;

  .page{
    box-shadow:inset 0px 10px 20px -10px darken(#FFF, 5%);
  }
}

.tags{padding:0;margin:0;}
.tags .tag{display:inline-block;}

.tags .tag{
  border:1px solid darken(#FFF, 10%);
  background:#FFF;
  padding:.25ex .5em;
  font-family:Tahoma,Geneva,Kalimati,sans-serif;
  border-radius:2px;
  a{color:inherit;}
  margin-top:1ex;
}

#nav_bar{
  margin: 3ex 0 -1px;
  position:relative;
  z-index:2;
  .tags {
    .tag{
      border-radius:10px 10px 0 0;
      background: darken(#FFF, 5%);
      border-bottom:0 none #000;
      a, span{
        padding:.5ex 2em;
        display:inline-block;
      }
    }

    .tag.current{
      background:lighten(#FFF, 20%);
      border-bottom:1px solid transparent;
    }
  }
}

.actions{
  background:whitesmoke;
  padding: 1ex 1em;
  text-align:right
}

.devise_footer a{
  padding:1em;
  display:inline-block;
}

.devise_footer{
  padding-left: .5em;
  margin:2ex 0;
}

.devise form{
  padding: 1em;

  input{
    border:1px solid #DDD;
    padding: 1ex 1em;
    color: #333333;
    font-size:1.2em;
  }

  .field_with_errors{display:inline;}
  .field_with_errors label{color:#D43;}

  #error_explanation h2{
    font-size:1.3em;
  }

  #error_explanation{
    border: 1px solid darken(#FED, 5%);
    background: #FED;
    padding: 1ex 1em;
  }
}

input, select, option, textarea{
  border:1px solid #DDD;
  padding: 1ex 1em;
  color: #333333;
  font-size:1.2em;
}


.toolbox{
  float:right;
  text-align:right;
  img{vertical-align:-.2ex}
}

#header{
  height:40px;
  position:relative;
  margin-bottom:2ex;
}

#logo{
  position:absolute;
  bottom:0px;
  left:0px;
}

.attach{
  margin-top:.5ex;
}

.summary{
  width:360px;
  display:block;
  overflow:hidden;
  text-overflow: ellipsis;
}
//DFC69E

.headertext{
  padding:3ex 0 0;
}

.posts{
  width: 100%;
  background: #FFF;
  ._gravatar{float:left; margin: 0 .5em 0 -.5em;}
  .post{
    position:relative;
    padding: 1ex 1em;
    border:1px solid darken(#FFF, 10%);
    margin-bottom:-1px;
  }
  .post:nth-child(2n){
    background: darken(#FEFEFF, 2%);
  }
}


.owner{
  position:relative;
  width:0;
  .name{
    white-space:nowrap;
    position:absolute;
    right:1em;
    top:-1ex;
    margin-top:-1px;
    background:#FFF;
    padding:5px;
    border:1px solid darken(#FFF, 10%);
    border-right-width:0px;
  }
  .gravatar{
    display:inline;
    float:left;
    margin: 0 .5em 0 0;
  }
  .updated{
    display:block;
  }
}

.post:nth-child(2n) .owner .name{
  background: darken(#FEFEFF, 2%);
}



@media print {
  body {
      background: transparent !important;
      color: black !important;
      filter:none !important;
      -ms-filter: none !important;
      font-size:12pt;
      max-width:100%;
      font-family:Georgia, Palatino, 'Palatino Linotype', Times,
             'Times New Roman', serif,
             "Hiragino Sans GB", "STXihei", "微软雅黑" !important;
       }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  tr, img { page-break-inside: avoid; }
  pre { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page :left { margin: 15mm 20mm 15mm 10mm; }
  @page :right { margin: 15mm 10mm 15mm 20mm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

.CodeMirror{
  background:white;
}

.cm-s-default{
  font-family:Georgia;

  .cm-header{
    color:black;
    font-size: 120%;
  }


  .cm-comment{
    width:90%;
    color:black;
    z-index:1;
    &:after{
      content:" ";
      position:absolute;
      left:0;
      z-index:-10;
      width:100%;
      background:whitesmoke;
      border:1px solid whitesmoke;
      margin-top:-1px;
      height:100%;
      top:0;
    }
  }

  .CodeMirror-lines{
    padding:1ex .5em;
  }

  .CodeMirror-linenumber{
    margin-left:-.5em;
  }
}
